:root {
    /* Paleta de Cores*/
    --color-bg-blue: #a7c9ff;
    --color-bg-white: #efefef;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {    
    background-image: linear-gradient(45deg, var(--color-bg-blue) 50%, var(--color-bg-white));
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

/*#region Controles de FlexBox*/
.flexbox {
    display: flex;
}

.flexbox-column {
    flex-direction: column;
}

.flexbox-justify-content-center {
    justify-content: center;
}

.flexbox-gap-2pct {
    gap: 2%;
}

.flexbox-gap-1pct {
    gap: 1%;
}
/*#endregion*/

/*#region Controles de Container*/

/*  #region -> Rotação*/
.rotate-30deg {
    transform: rotate(-30deg);
}
/*  #endregion*/

/*  #region Tamanho*/
.height-100pct {
    height: 100%;
}

.height-50pct {
    height: 50%;
}
/*  #endregion*/

/*#endregion*/
/*#region Controles de Imagem*/
.img-container {
    display: flex;

    width: auto;
    height: 40vh;
}

img {
    height: 100%;
    width: auto;
}
/*#endregion*/