:root {
    /*Paleta de Cores*/
    --color-backgrond-blue: #f7fafc;
    --color-background-white: #fff;

    --color-primary-blue: #1280ed;
    --color-secondary-blue: #4d7399;

    --color-primary-white: #f9f9f9;
    --color-secundary-white: #e8edf2;
}

body {
    background-color: lightgray;
}
